//** Global button styles shared

.btn {
  margin: 0 @spacing-item/2;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
  }
  & > span.fa,
  > span.glyphicon {
    padding-right: @spacing-item;
    padding-left: @spacing-item;
  }
}

.btn-gray {
  color: @sb-white;
  background-color: @sb-gray;
  border-color: darken(@sb-gray, 5%);
  &:hover,
  &:active,
  &:focus {
    background-color: darken(@sb-gray, 5%);
    color: @sb-white;
    border-color: darken(@sb-gray, 10%);
  }
  &:disabled {
    cursor: not-allowed;
    background-color: lighten(@sb-gray, 10%);
    color: @sb-white;
  }
}

.btn-print-cart {
  // min-height: 40px;
  position: relative;
}

.circle {
  // position: absolute;
  height: 25px;
  width: 25px;
  //background-color: #DCDCDC;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 2%;
  color: white;
  margin-left: 5px;
}

.popout-effect1 {
  animation: pop-out-keyframes-1 0.2s;
}

.popout-effect2 {
  animation: pop-out-keyframes-2 0.2s;
}

@keyframes pop-out-keyframes-1 {
  from {
    box-shadow: 0 0 0 0px rgb(74, 238, 74);
  }
  to {
    box-shadow: 0 0 0 30px rgb(169, 240, 169);
  }
}

@keyframes pop-out-keyframes-2 {
  from {
    box-shadow: 0 0 0 0px rgb(74, 238, 74);
  }
  to {
    box-shadow: 0 0 0 30px rgb(169, 240, 169);
  }
}

/* ----- RAISED ----- */
.btn-raised {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16),
    0 1px 3px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.26);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.26);
}

.btn-primary:hover,
.btn-primary:focus {
  color: white;
  background-color: #305b7e;
}

.btn-answerkeys {
  color: black;
  font-size: 14px;
  background-color: white;
}

.btn-answerkeys:hover,
.btn-answerkeys:focus {
  background-color: #e6e6e6;
  color: black;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16),
    0 1px 3px rgba(0, 0, 0, 0.26) !important;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.26) !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.26) !important;
}



.btn-apply-customize-view-setting {
  background-color: #2c4255;
  color: white !important;
}

.btn-cancel-customize-view-setting {
  color: #2c4255;
  border-color: #2c4255;
}
