h1 {
  color: green;
}

.multipleSelection {
  width: 300px;
  // background-color: #BCC2C1;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
}

#checkBoxes {
  display: none;
  border: 1px black solid;
}

#checkBoxes label {
  display: block;
}

#checkBoxes label:hover {
  background-color: #4f615e;
}

// other
.dropdown-menu label {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.dropdown-menu {
  padding: 0px;
}

.checkbox-multi-select {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.dropdown-toggle-btn {
  width: 160px;
}

.disabled {
  background-color: #e9eaeb;
  color: grey;
}
.dropdown-menu label {
  font-size: 15px;
}

.checkbox-multi-select:focus {
  outline: 1px dashed !important;
  outline-offset: 3px;
  background-color: white;
  color: black;
}

label:focus:not(:hover) {
  background-color: white;
}

.multiselect-option-label {
  margin-bottom: 0px;
}

.font-color-grey {
  color: grey;
}

.flex-data-field-popup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end !important;
  width: auto !important;
}
.flex-data-field-popup > button {
  margin: 5px 10px 5px 0px;
  padding: 5px;
  width: 70px;
}

.field-customizer-divider {
  border-top: 1px solid #bbb;
  width: auto !important;
}

.dropdown-menu-field-customizer {
  font-family: inherit !important;
  color: black;
  min-width: 230px;
  padding-top: 10px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  // -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 5px 8px 0 rgba(0,0,0,0.14), 0 1px 14px 0 rgba(0,0,0,0.12);
  // box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 5px 8px 0 rgba(0,0,0,0.14), 0 1px 14px 0 rgba(0,0,0,0.12);
}

.checkbox-data-fields-customize {
  font-size: 13px !important;
}

.checkbox-data-fields-customize:focus {
  outline: 1px solid !important;
  outline-offset: 1px;
  background-color: #f3f3f3 !important;
  color: black;
}
.checkbox-data-fields-customize:hover {
  outline: 0px dashed !important;
  outline-offset: 1px;
  background-color: #f3f3f3 !important;
  color: black;
}

.li-data-fields-customize {
  padding: 2px;
  padding-bottom: 0px;
}

.checkbox-fields-customize-checked {
  color: #2c4255;
}
.checkbox-fields-customize-unchecked {
  color: #2c4255;
}

.modal-backdrop {
  background-color: rgba(100, 100, 100, 0.8);
  width: 100vw;
  height: 100vh;
}

// .dropdown-toggle-btn-customize-field {
//   width: 142px;
// }
